<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DBFactory" value="XMLDBFactory" />
        <add key="XMLFilePath" value="C:\Users\nikla\Documents\Uni\Semester_4\PPAR\C#\part_01_oo-Niklas-Mezynski\oo_part_2\oo_part_2\Persistence\XMLFiles\Users.xml" />
    </appSettings>
</configuration>